[submodule "ngrok"]
	path = ngrok
	url = https://github.com/inconshreveable/ngrok
[submodule "mitmproxy"]
	path = mitmproxy
	url = https://github.com/mitmproxy/mitmproxy.git
[submodule "hyperloglog"]
	path = hyperloglog
	url = https://github.com/prasanthj/hyperloglog.git
[submodule "Dragonfly"]
	path = Dragonfly
	url = https://github.com/dragonflyoss/Dragonfly.git
##[submodule "kafka"]
##	path = kafka
##	url = https://github.com/apache/kafka.git
